<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelchecklist</title>
    <style>
        h2 {
            color: rgb(23, 176, 214);
        }
        p {
            color: chocolate;
        }
        button {
            background-color: burlywood;
        }
    </style>
    
</head>
<body>
    <h2>TRAVELCHECKLIST</h2>
    <p>Tu Gestor de Viajes y Tareas!!!</p>
    <button>enviar</button>
</body>
</html>